ul,
li {
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

a:hover {
  text-decoration: none;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.tabs {
  position: relative;
}

.tabs-list {
  /* display: flex; */
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.tabs-list.show {
  overflow: visible;
}

.tab {
  flex-grow: 1;
}

.more-button {
  margin: 0;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.more-list-popup {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);

  margin-top: 10px;
  padding: 10px;
  text-align: left;

  position: absolute;
  right: 0;
}

.more-list-popup .tab {
  border: none;
}

.more-list-item {
  display: block;
  margin: 10px 0;
}

.container {
  width: 100%;
  margin: 20px auto;
}

.tab {
  font-weight: 300;
  font-size: 17px;
  line-height: 24px;
  padding: 5px 12px;
  border: 2px solid transparent;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
}

.tab a {
  color: #000;
}

.tab:hover {
  border-color: rgba(0, 0, 0, 0.12);
}

.tab:hover,
.tab:hover a {
  text-decoration: none;
}

.tab.active {
  border-color: #4c8ebc;
  font-weight: 700;
}
